.empty-list-msg {
    display: none;
    color: red;
}

.list-empty {
    .list-table { display: none; }
    .empty-list-msg { display: block; }
}

.remove-sort { display: none; }

.user-sort {
    .remove-sort { display: block; }
}
