.list-title {
    margin: 10px 0;

    h2 {
        margin: 0;
        float: left;
    }
}

.list-title {
    @include clearfix;
}

.remove-sort {
    display: none;
    float: left;
    margin-left: 10px;
}
.user-sorted {
    .remove-sort { display: block; }
}

.loading-icon {
    animation: spin linear infinite 1s;
    border-radius: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}
