.remove-sort { display: none; }
.user-sort {
    .remove-sort { display: block; }
}

.loading-icon {
    animation: spin linear infinite 1s;
    border-radius: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}
