.remove-sort { display: none; }
.user-sort {
    .remove-sort { display: block; }
}

.empty-list-msg { display: none; }
.list-empty {
    .list-table { display: none; }
    .empty-list-msg { display: block; }
}

.list {
    h3 { margin: 0; }
}
